@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{
  background: #8cb1b7;
}

.card-name{
  width: 300px;
  background: #fff;
  margin: 80px auto;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.label-title{
  display: block;
  padding-bottom: 10px;
  color: #8cb1b7;
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.input-wrapper{
  position: relative;
}

.card-input{
  width: 100%;
  outline: none;
  padding: 10px 20px;
  background: #8cb1b7;
  cursor: pointer;
  position: relative;
  color: #e8eff1;
  border-radius: 3px;
}

.arrow{
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  color: #e8eff1;
}

ul.card-list{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 52px;
    display: none;
    background: #dae6e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

ul.card-list.visible{
  display: block;
}

ul li{
  padding: 10px 20px;
  cursor: pointer;
}

ul li{
  border-top: 0;
}

ul li .fab,
.card-input .fab{
  font-size: 32px;
}